<div class="date-picker d-flex flex-row justify-around">
    <div class="input-container">
        <label for="investmentSelect">Select Investment</label>
        <select id="investmentSelect" class="form-control" [(ngModel)]="selectedInvestmentId"
            (change)="onInvestmentChange()">
            <option *ngFor="let investment of investments" [value]="investment.Id">
                {{ investment.Investment_Name }} - {{ investment.Amount}}
            </option>
        </select>
    </div>
    <div class="input-container">
        <input type="text" class="form-control" [value]="selectedDate ? (selectedDate | date:'dd-MM-yyyy') : ''"
            (click)="toggleCalendar()" readonly placeholder="dd-mm-yyyy">
        <span class="calendar-icon" (click)="toggleCalendar()">
            📅
        </span>

        <div class="calendar-container" *ngIf="showCalendar" (clickOutside)="hideCalendar()">
            <div class="calendar-header">
                <button class="btn btn-sm btn-outline-primary" (click)="prevMonth()">‹</button>
                <span>{{ currentDate | date: 'MMMM, yyyy' }}</span>
                <button class="btn btn-sm btn-outline-primary" (click)="nextMonth()">›</button>
            </div>
            <table class="calendar-table">
                <tr *ngFor="let week of weeks">
                    <td *ngFor="let day of week" (click)="selectDate(day)"
                        [class.selected-date]="selectedDate && day && selectedDate.getTime() === day.date.getTime()">

                        <div *ngIf="day">
                            {{ day.date | date: 'd' }}
                        </div>

                        <div [ngClass]="day?.slots>0 ? 'fare' : 'no_fare' " *ngIf="day?.slots">Avbl {{ day.slots>0
                            ?day.slots :0 }} </div>
                    </td>
                </tr>   
            </table>

            <div class="clear-today-container">
                <span (click)="clearSelection()">Clear</span>
                <span (click)="selectToday()">Today</span>
            </div>
        </div>
    </div>
</div>  