<div class="row ">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-header" *ngIf="!loading; else loadingTemplate">
        <strong>Agents List </strong>
        <a
          class="btn  button-color btn-success text-white btn-sm float-end"
          (click)="open()"
          role="button">Add Agents</a>
      </div>
      <div class="card-body">
        <div class="row g-3">
          <div class="col-md-12">
            <div class="card-header-secondary">
            </div>
            <div class="card-body">
              <table datatable [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                class="row-border hover">
                <thead>
                  <tr>
                    <th>SN</th>
                    <th>Agent Name</th>
                    <th>Mobile Number</th>
                    <th>Account Number</th>
                    <th>IFSC Code</th>
                    <th>Branch</th>
                    <th>Referral Count</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody *ngIf="visitors?.length != 0">
                  <tr
                    *ngFor="let item of visitors; let i = index">
                    <td>{{ i+1}}</td>
                    <td>{{ item.Visitor_Name }}</td>
                    <td>{{ item.Contact_No }}</td>
                    <td>{{ item.Purpose_Visit }}</td>
                    <td>{{ item.Email_ID }}</td>
                    <td>{{ item.Address}}</td>
                    <td>{{item.C_O}}</td>
                    <td>
                      <button class="btn   btn-sm text-success" type="button"
                        (click)="UpdateVisitor(item,item.Id)" role="button"><i
                          class="fa-solid fa-pen-to-square"></i>
                      </button>
                      <button class="btn  btn-sm text-danger " (click)="deleteInvestment(item.Id)" type="button"
                        data-toggle="tooltip" data-placement="top"
                        title="Preview"><i
                          class="fa-solid fa-trash"></i></button>

                    </td>
                  </tr>
                </tbody>
              </table>
              <ng-template #loadingTemplate>
                <div class="loading">
                  <img src="assets/img/1.gif"
                    alt="Loading...">
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
